.mui-bar-nav {
	box-shadow: none;
}
.top {
	background: #3ca0ea;
	width: 100%;
	height: 1.333333rem;
}
.top_logo {
	display: block;
	width: 2.653333rem;
	height: 0.6rem;
	margin-top: 0.346666rem;
}
.top_right {
	width: 1.666666rem;
	height: 0.533333rem;
	margin-top: 0.4rem;
}
.top_right a {
	display: block;
	width: 0.56rem;
	height: 0.533333rem;
	background-size: 0.56rem 0.533333rem;
}
.top_search {
	background: url(../images/search.png);
}
.top_login {
	background: url(../images/login.png);
}
.mui-slider {
	margin-top: 1.333333rem;
}
.mui-slider img {
	display: block;
	width: 10rem;
	height: 3.866666rem;
}











































