.mui-bar-nav {
	box-shadow: none;
}
.top {
	background: #3ca0ea;
	width: 100%;
	height: 1.333333rem;
}
.top_logo {
	display: block;
	width: 2.653333rem;
	height: 0.6rem;
	margin-top: 0.346666rem;
}
.top_right {
	width: 1.666666rem;
	height: 0.533333rem;
	margin-top: 0.4rem;
}
.top_right a {
	display: block;
	width: 0.56rem;
	height: 0.533333rem;
	background-size: 0.56rem 0.533333rem;
}
.top_search {
	background: url(../images/search.png) 0 0;
}
.top_login {
	background: url(../images/login.png) 0 0;
}
.banner {
	margin-top: 1.333333rem;
}
.banner img {
	display: block;
	width: 10rem;
	height: 3.866666rem;
}
.mui-slider-indicator {
	width: 1.733333rem;
	height: 0.266666rem;
	background: url(../images/point_bg.png) center;
	background-size: 1.733333rem 0.266666rem;
	left: 50%;
	margin-left: -0.866666rem;
	border-radius: 10px;
}
.mui-slider-indicator div {
	float: left;
	width: 0.133333rem;
	height: 0.133333rem;
	
	box-shadow: none;
}
.mui-slider-indicator .mui-indicator {
	margin: 0.066666rem 0 0.066666rem 0.16rem;
	border: 1px solid #e5e5e5;
	background: transparent;
}
.mui-slider-indicator .mui-active.mui-indicator {
	margin: 0.066666rem 0 0.066666rem 0.16rem;
	background: #e5e5e5;
	border: 1px solid #e5e5e5;
	
}







































