/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
.mui-plus header.mui-bar{
	display: none;
}
.mui-plus .mui-bar-nav~.mui-content{
	padding: 0;
}

/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description{
	margin: .5em 0;
}

.hm-description>li {
	font-size: 14px;
	color: #8f8f94;
}
.bar-nav-color{
	background-color:#3ca0ea;
}
.bar-nav-color .mui-title{
	color:#fff;
}
.bar-nav-color .icon-left-color{
	color:#fff;
}
.mui-row.mui-fullscreen>[class*="mui-col-"] {
	height: 100%;
}

.mui-col-xs-3,
.mui-col-xs-9 {
	height: 100%;
}

.mui-segmented-control .mui-control-item {
	line-height: 50px;
	width: 100%;
}


.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	background-color: #fff;
}
.mui-content .mui-segmented-control.mui-segmented-control-inverted.mui-segmented-control-vertical .mui-control-item{
	border-bottom:none;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	background-color: #f6f6f6;
}
.mui-table-view{
	background-color: #f6f6f6;
}
.mui-table-view-cell{
	font-size:15px;
	padding:0px 15px;
	line-height: 50px;
}
.mui-table-view-cell.mui-active{
	background-color:#fff;
	color: #007aff;
}
.mui-table-view-cell:after{
	background-color:transparent;
}
.mui-control-content.mui-active{
	display:block;
}